* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Blackned;
  src: url(assets/fuentes/Blacknorthdemo-mLE25.otf);
}
@font-face {
  font-family: MetFont;
  src: url(assets/fuentes/MetalliFont.TTF);
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.barra {
  background-color: black;
}
.barra .f-letter {
  padding-left: 15px;
}
.barra .navbar-brand {
  font-family: Blackned;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.f-letter::first-letter {
  font-family: MetFont;
  font-size: 60px;
  text-shadow: 2px 10px 3px yellow;
  color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-family: Blackned;
  font-size: 25px;
  word-spacing: normal;
}

.navbar-dark .navbar-nav .nav-link:hover {
  scale: 1.1;
  transition: 1.8s;
  color: yellow;
}

.cont-new-album {
  background-image: url(assets/Img/Main-Metalifan.gif);
  background-position: center;
  background-size: cover;
  font-size: 40px;
  letter-spacing: 25px;
  display: flex;
  justify-content: flex-end;
  padding-top: 30%;
  margin: 0;
}
.cont-new-album a {
  color: gray;
}

.albums {
  width: 100%;
  height: 200px;
  background-color: gray;
  background-image: url(assets/Img/albums.jpg);
  background-position: center;
  background-size: cover;
  font-family: Blackned;
  text-align: center;
  display: flex;
}
.albums a {
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.603);
  color: white;
  height: 200px;
  width: 100%;
  padding: 80px;
  text-decoration: none;
}

.albums:hover {
  transform: scale(1.1);
  transition: all 0.9s;
}

h2 {
  font-size: 30px;
  background-color: black;
  font-family: Blackned;
  color: white;
  margin: 0;
  text-align: center;
  padding: 15px;
}

.formulario {
  background-image: url(assets/Img/Metallicasillon.jpg);
  background-size: cover;
  background-position: top;
  padding: 10px;
}
.formulario .form-control {
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
  margin-bottom: 10px;
}
.formulario label {
  font-size: 15px;
  font-family: Blackned;
  color: white;
  letter-spacing: 1.5;
}
.formulario .btn {
  background-color: rgba(0, 0, 0, 0.068);
  border: 1px solid gray;
  font-family: Blackned;
  color: white;
  box-shadow: 0.2px ease-in-out;
}
.formulario .btn1 {
  margin-top: 15px;
}

.btn:hover {
  transition: 0.8s;
  box-shadow: 0 0 40px 40px yellow inset;
  color: black;
}

.historia {
  background-color: rgb(246, 250, 0);
  padding: 0 6px 5px 6px;
}
.historia h1 {
  background-color: black;
  font-size: 35px;
  font-family: Blackned;
  width: 100%;
  padding: 5px;
  color: white;
  text-align: center;
}
.historia h2 {
  background-color: transparent;
  text-align: start;
  color: black;
  font-size: 30px;
}
.historia h3 {
  font-family: Blackned;
  font-size: 18px;
}
.historia .descanso1 {
  margin: 0 0 10px 0;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  grid-gap: 5px;
}
.historia .descanso1 .desc-img1 {
  background-image: url(assets/Img/metallicainicio.jpg);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 3px solid black;
}
.historia .descanso1 .desc-img2 {
  background-image: url(assets/Img/metallica_16.jpg);
  width: 100%;
  height: auto;
  background-position: top;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
  border: 3px solid black;
}
.historia .descanso1 .desc-img3 {
  background-image: url(assets/Img/Metallicarusia.jpg);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
  border: 3px solid black;
}
.historia .descanso2 {
  margin: 0 0 10px 0;
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  grid-gap: 5px;
}
.historia .descanso2 .desc2-img1 {
  background-image: url(assets/Img/hetfieldcanta.jpg);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 3px solid black;
}
.historia .descanso2 .desc2-img2 {
  background-image: url(assets/Img/lars-ulrich-actual.jpg);
  width: 100%;
  height: auto;
  background-position: top;
  background-size: cover;
  grid-column: 2/3;
  grid-row: 1/2;
  border: 3px solid black;
}
.historia .descanso2 .desc2-img3 {
  background-image: url(assets/Img/rob-y-kirk.jpg);
  width: 100%;
  height: auto;
  background-position: top;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
  border: 3px solid black;
}

footer {
  margin: 0;
  height: 150px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Blackned;
  padding: 30px;
  font-size: 20px;
}
footer .sociales {
  font-size: 30px;
  margin-top: 15px;
  word-spacing: 25px;
  text-align: center;
  color: white;
}
footer .sociales a {
  color: white;
}

.subir {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid yellow;
  font-size: 30px;
  padding: 0 10px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .historia .descanso1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 5px;
  }
  .historia .descanso1 .desc-img1 {
    background-image: url(assets/Img/metallicainicio.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 3px solid black;
  }
  .historia .descanso1 .desc-img2 {
    background-image: url(assets/Img/metallica_16.jpg);
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 3px solid black;
  }
  .historia .descanso1 .desc-img3 {
    background-image: url(assets/Img/Metallicarusia.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 3/4;
    border: 3px solid black;
  }
  .historia .descanso2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 5px;
  }
  .historia .descanso2 .desc2-img1 {
    background-image: url(assets/Img/hetfieldcanta.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 3px solid black;
  }
  .historia .descanso2 .desc2-img2 {
    background-image: url(assets/Img/lars-ulrich-actual.jpg);
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 3px solid black;
  }
  .historia .descanso2 .desc2-img3 {
    background-image: url(assets/Img/rob-y-kirk.jpg);
    width: 100%;
    height: auto;
    background-position: top;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 3/4;
    border: 3px solid black;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .albums {
    width: 90%;
    margin: 10px 10px 10px 50px;
  }
  .albums a {
    font-size: 50px;
  }
}
.conteiner-fluid.row {
  background-image: url(assets/Img/BG-Cenizas.gif);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.subt {
  font-family: Blackned;
  font-size: 35px;
  color: black;
  text-align: center;
  padding: 10px;
}

.card {
  border: 2px solid black;
  margin: 5px;
}

div {
  display: contents;
}

.col-sm-5 {
  padding: 1px;
  max-width: 100%;
  border: 5px solid black inset;
}

.card {
  border: 5px solid black;
  padding: 5px;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.171);
}

.img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

.img:hover {
  transform: scale(1.1);
  transition: 1s;
}

h4 {
  font-family: Blackned;
  font-size: 45px;
  padding-top: 10px;
}

.btn {
  background-color: black;
  color: yellow;
  font-size: 25px;
  width: 50%;
}

.img1 {
  background-image: url(assets/Img/Albums/kill-em-all-m-2.png);
}

.img2 {
  background-image: url(assets/Img/Albums/ridethelightning.jpg);
}

.img3 {
  background-image: url(assets/Img/Albums/Master.jpg);
}

.img4 {
  background-image: url(assets/Img/Albums/justice.jpg);
}

.img5 {
  background-image: url(assets/Img/Albums/blackalbum.jpg);
}

.img6 {
  background-image: url(assets/Img/Albums/loadreload.jpg);
}

.img7 {
  background-image: url(assets/Img/Albums/StAnger.jpg);
}

.img8 {
  background-image: url(assets/Img/Albums/death.jpg);
}

.img9 {
  background-image: url(assets/Img/Albums/hardwired.jpg);
}

.cont-albums {
  background-position: center;
  background-size: cover;
  margin: 0;
}
.cont-albums h1 {
  text-align: center;
  width: 100%;
  font-family: Blackned;
  font-size: 55px;
  color: white;
  word-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.356);
}
.cont-albums p {
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.356);
}
.cont-albums .flechas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: auto;
}
.cont-albums .flechas .btn-ride-derecha {
  font-size: 35px;
  padding-right: 20px;
}
.cont-albums .flechas a {
  color: white;
  font-size: 55px;
  font-family: Blackned;
  text-decoration: none;
  text-shadow: 0px 1px 7px rgb(254, 255, 253);
}
.cont-albums .flechas .btn-ride-left {
  font-size: 35px;
  padding-right: 20px;
}

.cont-kill {
  background-image: url(assets/Img/Albums/kill-em-all-m-2.png);
}
.cont-kill .flecha-kill {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.cont-kill .flecha-kill .btn-ride-derecha-kill {
  font-size: 55px;
  padding-right: 20px;
}
.cont-kill .flecha-kill .btn-ride-derecha-kill a {
  color: white;
  font-size: 55px;
  font-family: Blackned;
  text-decoration: none;
  text-shadow: 0px 1px 7px rgb(254, 255, 253);
}

.cont-ride {
  background-image: url(assets/Img/Albums/ridethelightning.jpg);
}

.cont-master {
  background-image: url(assets/Img/Albums/Master.jpg);
}

.cont-death {
  background-image: url(assets/Img/Albums/death.jpg);
  background-position: center;
}
.cont-death .flechas a {
  text-shadow: 0px 1px 7px rgb(0, 0, 0);
}

.cont-black {
  background-image: url(assets/Img/Albums/blackalbum.jpg);
}

.cont-loadreload {
  background-image: url(assets/Img/Albums/loadreload.jpg);
}

.cont-stanger {
  background-image: url(assets/Img/Albums/StAnger.jpg);
}

.cont-justice {
  background-image: url(assets/Img/Albums/justice.jpg);
}
.cont-justice .flechas a {
  text-shadow: 0px 1px 7px rgb(15, 15, 15);
}

.cont-hardwired {
  background-image: url(assets/Img/Albums/hardwired.jpg);
}
.cont-hardwired .flechas-hardwired a {
  color: white;
  font-size: 55px;
  font-family: Blackned;
  text-decoration: none;
  text-shadow: 0px 1px 7px rgb(0, 0, 0);
}
.cont-hardwired .flechas-hardwired .btn-ride-left {
  font-size: 55px;
  padding-right: 20px;
}

@media (max-width: 640px) {
  .cont-albums {
    background-position: center;
    background-size: inherit;
  }
  .flechas {
    display: inline-flex;
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
